body {
    background-color: lightgray;
    font-family: "Poppins", sans-serif;    
    color: black;
}

div.relative {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
  }
  
  div.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
  }
  div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: green;
    border: 2px solid #4CAF50;
  }
  div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    background-color: crimson;
    color: white;
    border: 3px solid #73AD21;
  }
.parent {
    position: relative;
    height: 50%;
}
.enfant {
    padding: 5px;
}