/* login */
body {
    background-color: #f3f3f3;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }
  
  .formContainer {
    background-color: #f3f3f3;
    height: 100vh;
  }
  .footer_login {
    background-color: black;
    color: white;
  }
  form {
    min-width: 350px;
  }
  
  @media only screen and (max-width: 600px) {
    .formContainer {
      margin: 15px auto;
      height: 80vh;
    }
    form {
      min-width: 370px;
    }
  }
  
  /* dashboard */
  .dashboard_login {
    background-color: black;
    color: white;
  }